body, html {
	background-color: #16181d !important; 
	color: #cccccc !important;
}

a, a:link, a:visited {
	color: #9ba4b5 !important;
	text-decoration: none;
}

a:hover, a:active {
	color: #cdd4e0 !important;
	text-decoration: underline;
}

table, table.main, table.main > tbody > tr > td,
table.tableb, table.tableb > tbody > tr > td,
.colhead, td.colhead, th {
	background-color: #22252b !important;
	border-color: #111111 !important;
	color: #cccccc !important;
}

body {
	margin: 2px;
}

html, .footer {
	background: none;
	padding-bottom: 5px;
}

h1.left,
td.bottom > span.tag.internal,
.bannertext,
#filmstatboxes,
table.readpost > tbody > tr:nth-child(1) > td:nth-child(1) > p, table.std-content > tbody > tr > td > table.main > tbody > tr:nth-child(1) > td:nth-child(1) > p,
table.readpost > tbody > tr:nth-child(2), table.std-content > tbody > tr > td > table.main > tbody > tr:nth-child(2) {
	display: none !important;
}

li.tab a {
	font-size: 12px;
}

tr.featured, tr.featured td {
	background-color: #2a2e35 !important;
}
#torrent-list button {
	margin: 0 0 -2px 0;
	padding-top: 0;
}
@-moz-document url-prefix() {
	#torrent-list button {
		margin: -2px -2px -2px 0px !important;
	}
}

span.tag.new {
	float: left;
	margin-right: 3px;
	margin-left: 0;
	font-size: 9px;
	font-weight: bold;
	color: #ff5555;
	background-color: transparent;
	border: 1px solid #ff5555;
}

#torrent-list a[title^="All"],
#torrent-list a[title^="25%"],
#torrent-list a[title^="50%"],
#torrent-list a.fl,
.table_other_copies span.fl,
#table_uploaded span.fl,
.table_seed_leech span.fl,
#table_completed span.fl,
#table_incomplete span.fl {
	margin-right: 10px;
}
#torrent-list a[title^="25%"]:after {
	content: "75%";
	color: #888899;
}
#torrent-list a[title^="50%"]:after {
	content: "50%";
	color: #aaaabb;
}
#torrent-list a.fl:after,
.table_other_copies span.fl:after,
#table_uploaded span.fl:after,
.table_seed_leech span.fl:after,
#table_completed span.fl:after,
#table_incomplete span.fl:after {
	content: "FREE!";
	color: #dddddd;
	font-weight: bold;
}
#torrent-list a[title^="25%"]:after,
#torrent-list a[title^="50%"]:after,
#torrent-list a.fl:after,
.table_other_copies span.fl:after,
#table_uploaded span.fl:after,
.table_seed_leech span.fl:after,
#table_completed span.fl:after,
#table_incomplete span.fl:after {
	float: right;
	margin-right: 1px;
	margin-left: 3px;
	font-size: 10px;
	pointer-events: none;
}

#showpage {
	padding: 2px 0 6px 0;
	background-color: #22252b !important;
	border: 1px solid #111111;
}
#showpage h2 {
	border-width: 1px 0;
	border-style: solid;
	border-color: #333333;
}
#showpage .seasonpack li:last-child {
	margin-bottom: 10px;
}
#showpage .showseasons li:last-child li.notorrents:last-child {
	margin-bottom: 5px;
}
.list-overview {
	width: calc(100% - 4px);
}
.list-overview__text {
	font-size: 18px;
}

.film-list-container {
	padding: 10px 10px 0 10px;
	margin: 2px;
	background-color: #22252b !important;
	border: 1px solid #111111;
}
.info_row {
	padding-top: 11px;
	margin: -1px;
}

#list-add-container {
	display: table-cell;
	padding: 5px 20px 15px 20px;
	background-color: #22252b !important;
	border: 1px solid #111111;
}

.unlockednew,
.unlocked,
.lockednew,
.locked {
	width: 32px;
	height: 32px;
}
.unlockednew {
	background: url('images/new.png') no-repeat scroll center center transparent;
}
.unlocked {
	background: url('images/read.png') no-repeat scroll center center transparent;
}
.lockednew {
	background: url('images/locked-new.png') no-repeat scroll center center transparent;
}
.locked {
	background: url('images/locked.png') no-repeat scroll center center transparent;
}
.hasposted:after {
	content: url("images/marker.png");
	height: 10px;
	left: 24px;
	position: relative;
	top: 2px;
	width: 10px;
}

img[src="pic/disabledbig.gif"],
img[src="pic/warnedbig.gif"],
img[src="pic/starbig.gif"] {
	width: 0px;
	height: 0px;
	padding: 8px;
}
img[src="pic/disabledbig.gif"] {
	background: url("images/disabled.png");
}
img[src="pic/warnedbig.gif"] {
	background: url("images/warned.png");
}
img[src="pic/starbig.gif"] {
	background: url("images/donor.png");
}
img[src="/pic/disabled.gif"],
img[src="pic/disabled.gif"],
img[src="/pic/warned.gif"],
img[src="pic/warned.gif"],
img[src="/pic/star.gif"],
img[src="pic/star.gif"],
.warned,
.donor {
	width: 0px;
	height: 0px;
	padding: 6px;
	margin-left: 3px;
	margin-bottom: -2px;
}
img[src="/pic/disabled.gif"],
img[src="pic/disabled.gif"] {
	background: url("images/disabled.png");
}
img[src="/pic/warned.gif"],
img[src="pic/warned.gif"],
.warned {
	background: url("images/warned.png");
}
img[src="/pic/star.gif"],
img[src="pic/star.gif"],
.donor {
	background: url("images/donor.png");
}

.searchicon {
	width: 16px;
	height: 16px;
	margin-top: -1px;
	margin-right: -2px;
	background-position: 0px;
	background-image: url("images/search.png");
	filter: grayscale(100%);
}

.inbox,
.inboxnew {
	margin-right: 1px;
	margin-bottom: -3px;
	background-position: 0px;
}
img[src="pic/pn_inbox.gif"],
img[src="pic/pn_inboxnew.gif"] {
	width: 0px;
	height: 0px;
	padding: 8px;
	margin-bottom: -2px;
}
.inbox,
img[src="pic/pn_inbox.gif"] {
	background-image: url("https://i.imgur.com/yJ8ZSMr.png");
}
.inboxnew,
img[src="pic/pn_inboxnew.gif"] {
	background-image: url("https://i.imgur.com/PVa0k6N.png");
}

.mytorrents {
	width: 16px;
	height: 16px;
	margin: 0px 2px -4px -1px;
	background-image: url("https://i.imgur.com/2SPRe3C.png");
}

.buddylist {
	width: 16px;
	height: 16px;
	margin: 0px 2px -4px 2px;
	background-position: 0px;
	background-image: url("https://i.imgur.com/YM9pjs1.png");
}

img[src="/pic/top.gif"] {
	width: 0px;
	height: 0px;
	padding: 8px;
	margin-bottom: -2px;
	background: url("https://i.imgur.com/2ikLJCV.png");
}

#listsback {
	background: transparent url("https://i.imgur.com/xXkS8R7.png") no-repeat scroll left center;
}

body > table:first-of-type {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	height: 60px;
	margin: 0 !important;
	background-color: rgba(22, 24, 29, 0.98) !important;
}
#logo {
	background: no-repeat 2px 0/361px url("https://i.imgur.com/goJrQAY.png") !important;
	width: 363px !important;
	height: 60px !important;
	filter: grayscale(100%);
}
body > table:first-of-type #sitesearch {
	text-align: center;
}
body > table:first-of-type #searchselector li {
	margin: 0 0 5px 5px;
}
body > table:first-of-type #sitesearchform {
	display: inline-block;
}
.autocomplete-suggestions {
	position: fixed !important;
	top: 47px !important;
	background-color: #22252b !important;
	color: #cccccc !important;
}
body > table:first-of-type .embedded {
	text-align: right;
	padding: 0 2px;
}
body > table:first-of-type .embedded:nth-of-type(1),
body > table:first-of-type .embedded:nth-of-type(2) {
	width: 33.33%;
}
body > table:first-of-type .embedded:nth-of-type(3) {
	white-space: nowrap;
}
body > table:first-of-type .embedded .curuser-stats {
	line-height: 24px;
	margin: 2px 5px 0 0;
}
body > table:first-of-type .embedded .curuser-stats:first-of-type {
	display: inline-block;
	margin-top: 5px;
}
body > table:first-of-type .embedded .curuser-stats:nth-of-type(2) {
	display: inline-block;
	margin-right: 6px;
}
.alert-box {
	margin-left: 5px;
	margin-top: -16px;
	vertical-align: baseline;
}
body .menu {
	position: fixed;
	top: 60px;
	left: 0;
	z-index: 2;
	margin: 0;
	background-color: #1a1c20 !important;
}

#donate {
	background: none;
	width: auto;
	height: auto;
	margin-top: 0;
	margin-right: 11px;
	color: white;
	font-weight: bold;
}
#donate::before {
	content: 'Make a Donation!';
}
#donate_bitcoin {
	background: none;
	width: auto;
	height: auto;
	margin-top: 0;
	margin-right: 11px;
}
#donate_bitcoin::before {
	content: url(https://i.imgur.com/zP85Qa8.png);
}

body > table:nth-of-type(3) > tbody > tr > td {
	padding-top: 90px !important;
}
.notification-overlay {
	position: fixed;
	top: 81px;
}

a[name]:not([href]) {
	display: block;
	padding-top: 90px;
	margin-top: -90px;
	pointer-events: none;
}
p.sub > a[name]:target {
	padding-top: 90px;
	margin-top: -90px;
	pointer-events: none;
	outline: none;
}

td#sidebar-container {
	position: fixed;
	z-index: 1;
	width: 15px;
	padding: 0 !important;
	margin-left: -2px;
}
td#sidebar-container .main {
	position: relative;
	width: 175px;
	left: -190px;
	margin: 90px 0 10px 8px;
	background-color: #22252b !important;
	border: 1px solid #111111;
	transition: left .15s ease;
}
td#sidebar-container:hover .main {
	left: -10px;
}
#sidebar-container .embedded {
	padding: 0 5px 5px;
}

.menu, li.tab, td.bottom > table[width="800"]:first-of-type, td.bottom > table[width="500"]:first-of-type,
td#sidebar-container .main,
#news > h2, #news > h2+table, body > table.menu+table.main > tbody > tr > td.bottom:last-child table.main > tbody > tr > td.embedded > h2, body > table.menu+table.main > tbody > tr > td.bottom:last-child table.main > tbody > tr > td.embedded > h2+table:not([class]),
body > table.menu+table.main > tbody > tr > td.bottom:last-child > h1:first-child+p+table[width="750"][cellpadding="10"], body > table.menu+table.main > tbody > tr > td.bottom:last-child > p+p+table[width="750"][cellpadding="10"],
td.embedded > table.main > tbody > tr > td[style="padding: 10px;background-color: #ECE9D8"],
body > table.menu+table.main > tbody > tr > td.bottom:last-child > table.main:first-of-type+p+table.main > tbody > tr > td.embedded > table, body > table.menu+table.main > tbody > tr > td.bottom:last-child > table.main:first-of-type+table.main > tbody > tr > td.embedded > table,
#tabs+table[width="800"],
table.tableb,
#tabs ~ form+table, td.bottom > table[width="500"]:first-of-type,
.notification-frame,
form[action="inbox.php"] > table, body > table.menu+table.main > tbody > tr > td.bottom:last-child > h1:first-child+table[width="660"][cellpadding="4"], form[name="message"],
form > #searchbox, #torrent-list, html #searchcriteria,
.rc__film__poster,
#table_open_requests, .center_comments > table.main:only-of-type > tbody > tr > td > table,
#tv-show-list, #tv-episode-list, #list-add-container,
#list-container .list-description, #list-container .item,
#offerstable, body > table.menu+table.main > tbody > tr > td.bottom:last-child > table[cellpadding="3"]:first-of-type, body > table.menu+table.main > tbody > tr > td.bottom:last-child > table[cellpadding="5"]:first-of-type,
#details,
#showpage,
.film-list-container,
.stattitle, .banner_container .statbanner,
body > table.menu+table.main > tbody > tr > td.bottom:last-child > h1:first-child+table:last-child,
table.std-content,
table.sources_table, table.lottery_table, table.lottery_table2,
td.bottom > form[action="dox.php"]+p+table,
#wishlist,
body > table.menu+table.main > tbody > tr > td.bottom:last-child > script:first-child+h1+table:last-child[cellpadding="5"],
td.bottom > form[action="/log.php"] ~ table,
body > table.menu+table.main > tbody > tr > td.bottom:last-child > table.main > tbody > tr > td.embedded > table[cellpadding="10"]:first-child, body > table.menu+table.main > tbody > tr > td.bottom:last-child > form > table,
body > table.menu+table.main > tbody > tr > td.bottom:last-child > h1+form[method="get"]+p+p+table[cellpadding="5"],
#latest_posts > table, td.bottom > table+h1 ~ table:not([class]),
body > table.menu+table.main > tbody > tr > td.bottom:last-child > h2+table:last-of-type,
body > table.main > tbody > tr > td.bottom:nth-child(2) > table:nth-child(2)[cellpadding="10"][border="1"], body > table.main > tbody > tr > td.bottom:nth-child(2) > table:nth-child(4)[cellpadding="10"][border="1"],
.invite_notice, .invite_notice+table {
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
}

td.embedded > table.main > tbody > tr > td[style="padding: 10px;background-color: #ECE9D8"] {
	background-color: #22252b !important;
}

.rc__container, .rc__toggle,
.rc__film__poster-placeholder,
body > table.menu+table.main > tbody > tr > td.bottom:last-child > div[style="width: 900px; text-align: left"] > div[style*="background-color: #BCCAD6;"]:first-child,
div[style*="background-color: #BCCAD6;"] {
	border: 1px solid #111111 !important;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
	background-color: #22252b !important; 
}

#showbanner,
.list-overview,
.tv-banner,
#tv-show-list,
#tv-episode-list,
img[src^="/pic/imdb_poster_cache/"] {
	border: 1px solid #333333 !important; 
}
#tv-show-list {
	width: auto;
	margin-left: 12px;
}
.show-header {
	border-bottom: 1px solid #333333;
	border-right: 1px solid #333333;
}
.show-header:last-child {
	border-bottom: none;
}

table.readpost > tbody > tr > td > img[width="150"], table.std-content > tbody > tr > td > table.main > tbody > tr > td > img[width="150"] {
	border-bottom: 1px solid #333333;
	margin-bottom: -1px;
}

.default_avatar {
	background: no-repeat url("https://i.imgur.com/S6xGk3h.png");
}

.default_avatar_small {
	background: no-repeat url("https://i.imgur.com/h3CdlTj.png");
}

body > table.menu+table.main > tbody > tr > td.bottom:last-child > h2 {
	background: none;
	border: none;
	-webkit-margin-before: 1em;
	padding: 11px 0 2px 0;
}

body > table.menu+table.main > tbody > tr > td.bottom:last-child > table.main > tbody > tr > td.embedded > table[cellpadding="10"]:first-child,
body > table.menu+table.main > tbody > tr > td.bottom:last-child > h2+table:last-of-type,
body > table.main > tbody > tr > td.bottom:nth-child(2) > table:nth-child(2)[cellpadding="10"][border="1"], body > table.main > tbody > tr > td.bottom:nth-child(2) > table:nth-child(4)[cellpadding="10"][border="1"] {
	max-width: 930px;
}

.rc__toggle {
	line-height: 20px !important;
	font-size: 12px !important;
	margin-top: -1px;
	margin-right: -2px;
	background-color: #2a2e35 !important;
	color: #cccccc !important;
}

.rc__film__poster-placeholder {
	height: 300px;
}

div.rc.js-rc {
	margin-bottom: 12px;
}

.rc__header {
	font-size: 21px !important;
}

td.bottom > table[width="800"]:first-of-type,
td.bottom > table[width="500"]:first-of-type {
	margin-bottom: 8px;
}

.statbox {
	margin-top: 15px !important;
}

#tv-show-list {
	margin-bottom: 15px;
}

#list-container .list-description {
	max-width: 850px;
}

#list-container .item {
	display: block;
	margin: 10px;
}

.std-content pre {
	white-space: pre-wrap;
}

td[style="border: 1px black dashed"] {
	word-break: break-word;
	border-color: #555555 !important;
}

img[src="/pic/multipage.gif"],
img[src="/pic/icon_latest_reply.gif"] {
	margin-bottom: -1px;
}

.rc__overlay {
	margin: 1px -1px -1px 1px;
}
.rc__downloads {
	border-radius: 0 !important;
	margin: 1px;
}
.rc__downloads,
.statposter_views,
.tv_morelink {
	font-size: 14px !important;
}

div > form[action="inbox.php"][method="get"] {
	text-align: left;
	margin-top: -36px;
	position: absolute;
}
td.embedded > form[action="inbox.php"][method="post"] {
	margin-top: -49px;
}
@-moz-document url-prefix() {
	div > form[action="inbox.php"][method="get"] {
		text-align: left;
		margin-top: -40px;
		position: absolute;
	}
	td.embedded > form[action="inbox.php"][method="post"] {
		margin-top: -55px;
	}
}
